@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import 'colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    max-height: 100vh;
    font-size: 1rem;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: grid;
        gap: 1rem;
        padding: 4rem 2rem;
        box-shadow: var(--box-shadow);
        background-color: var(--text-color);
        border: none;
        border-radius: var(--border-radius);

        h1 {
            text-align: center;
            color: var(--primary-color);
        }

        .input-box {
            label {
                color: var(--primary-color);
            }

            input {
                height: 1.5rem;
                border: none;
                border-radius: 0.4rem;
                box-shadow: var(--box-shadow);
                margin: 0.5rem 0.3rem;
                padding: 0.8rem 0.5rem;
            }

            input:focus {
                outline: none;
            }
        }

        button {
            color: var(--text-color);
            font-size: 0.9rem;
            margin: 0 auto;
            padding: 0.6rem 2.3rem;
            border: none;
            border-radius: 0.4rem;
            background-color: var(--primary-color);
            cursor: pointer;
            transition: 500ms;
            box-shadow: var(--box-shadow);
        }

        button:hover {
            background-color: var(--hover-color);
        }

        button:active {
            transform: scale(0.97);
        }

        p {
            color: var(--secondary-color);
        }
    }
}

.link-route {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.5rem;
}